 
    body {
        color: white;
        margin: 0px;
        padding: 0px;
        background: url(Images/barbell-on-the-floor-1552252.jpg);
        background-repeat: no-repeat;
        /* height: 456px; */
    }

    .left {
        position: sticky;
        display: inline-block;
        /* border: 2px solid red; */
        right: 60px;
        top: 20px;
    }

    .left img {
        width: 136px;
        filter: invert(100%);
    }

    .left div {
        text-align: center;
        line-height: 19px;
        font-size: 26px;
    }

    .mid {
        display: block;
        width: 33%;
        margin: 20px auto;
        /* border: 2px solid green; */


    }

    .right {
        position: absolute;
        right: 34px;
        top: 20px;
        display: inline-block;
        /* border: 2px solid yellow; */
        font-family: cursive;
    }

    .navbar {
        display: inline-block;
    }

    .navbar li {
        display: inline-block;
        font-size: 20px;
    }

    .navbar li a {
        color: white;
        text-decoration: none;
        padding: 30px 10px;
    }

    .navbar li a:hover,
    .navbar li a.active {
        color: grey;
        text-decoration: underline;
        padding: 30px 10px;
    }

    .btn {
        margin: 0px 9px;
        color: white;
        background-color: black;
        padding: 4px 14px;
        /* border: 2px solid gray; */
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .btn:hover {
        background-color: darkgrey;
    }

    .container {
        /* border: 2px solid white; */
        margin: 106px 80px;
        padding: 75px;
        width: 33%;
        border-radius: 28px;
    }

    .form-group input {
        text-align: center;
        display: block;
        width: 508px;
        padding: 1px;
        /* border: 2px solid black; */
        margin: 11px auto;
        font-size: 25px;
        border-radius: 8px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .container h1 {
        text-align: center;
    }

    .container button {
        display: block;
        width: 104%;
        margin: 30px auto;
    }
